@charset "UTF-8";
/* CSS Document */
/* fonts */
@font-face {
  font-family: 'zag_boldregular';
  src: url("fonts/zag_bold-webfont.eot");
  src: url("fonts/zag_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/zag_bold-webfont.woff") format("woff"), url("fonts/zag_bold-webfont.ttf") format("truetype"), url("fonts/zag_bold-webfont.svg#zag_boldregular") format("svg");
  font-weight: normal;
  font-style: normal;
 }

@font-face {
  font-family: 'zag_regularregular';
  src: url("fonts/zag_regular-webfont.eot");
  src: url("fonts/zag_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/zag_regular-webfont.woff") format("woff"), url("fonts/zag_regular-webfont.ttf") format("truetype"), url("fonts/zag_regular-webfont.svg#zag_regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {font-family: 'ProximaNova-Bold';src: url('fonts/274C59_23_0.eot');src: url('fonts/274C59_23_0.eot?#iefix') format('embedded-opentype'),url('fonts/274C59_23_0.woff') format('woff'),url('fonts/274C59_23_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Semibold';src: url('fonts/274C59_1F_0.eot');src: url('fonts/274C59_1F_0.eot?#iefix') format('embedded-opentype'),url('fonts/274C59_1F_0.woff') format('woff'),url('fonts/274C59_1F_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Regular';src: url('fonts/274C59_22_0.eot');src: url('fonts/274C59_22_0.eot?#iefix') format('embedded-opentype'),url('fonts/274C59_22_0.woff') format('woff'),url('fonts/274C59_22_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Extrabld';src: url('fonts/274C59_19_0.eot');src: url('fonts/274C59_19_0.eot?#iefix') format('embedded-opentype'),url('fonts/274C59_19_0.woff') format('woff'),url('fonts/274C59_19_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Light';src: url('fonts/274C59_1C_0.eot');src: url('fonts/274C59_1C_0.eot?#iefix') format('embedded-opentype'),url('fonts/274C59_1C_0.woff') format('woff'),url('fonts/274C59_1C_0.ttf') format('truetype');}

/* fonts */
@font-face {
  font-family: 'zag_boldregular';
  src: url("fonts/zag_bold-webfont.eot");
  src: url("fonts/zag_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/zag_bold-webfont.woff") format("woff"), url("fonts/zag_bold-webfont.ttf") format("truetype"), url("fonts/zag_bold-webfont.svg#zag_boldregular") format("svg");
  font-weight: normal;
  font-style: normal;
 }

@font-face {
  font-family: 'zag_regularregular';
  src: url("fonts/zag_regular-webfont.eot");
  src: url("fonts/zag_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/zag_regular-webfont.woff") format("woff"), url("fonts/zag_regular-webfont.ttf") format("truetype"), url("fonts/zag_regular-webfont.svg#zag_regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {font-family: 'ProximaNova-Bold';src: url('fonts/274C59_23_0.eot');src: url('fonts/274C59_23_0.eot?#iefix') format('embedded-opentype'),url('fonts/274C59_23_0.woff') format('woff'),url('fonts/274C59_23_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Semibold';src: url('fonts/274C59_1F_0.eot');src: url('fonts/274C59_1F_0.eot?#iefix') format('embedded-opentype'),url('fonts/274C59_1F_0.woff') format('woff'),url('fonts/274C59_1F_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Regular';src: url('fonts/274C59_22_0.eot');src: url('fonts/274C59_22_0.eot?#iefix') format('embedded-opentype'),url('fonts/274C59_22_0.woff') format('woff'),url('fonts/274C59_22_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Extrabld';src: url('fonts/274C59_19_0.eot');src: url('fonts/274C59_19_0.eot?#iefix') format('embedded-opentype'),url('fonts/274C59_19_0.woff') format('woff'),url('fonts/274C59_19_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Light';src: url('fonts/274C59_1C_0.eot');src: url('fonts/274C59_1C_0.eot?#iefix') format('embedded-opentype'),url('fonts/274C59_1C_0.woff') format('woff'),url('fonts/274C59_1C_0.ttf') format('truetype');}


/* normalize */
html, body {padding: 0px;margin: 0px;height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure {margin:0; padding:0;}
img {border:none;}
ul, li{text-decoration:none; list-style:none; margin:0; padding:0;}

/* ################### COMMON ################## */
body {background:url("images/main_bg.jpg") repeat;background-color:#FFFFFF;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#757c91;max-width: 90%;}
.limited-width {width:940px;}
.section {}
#CusatLogo {left:4%; top:0; z-index:44; position:fixed;}
#CusatLogo img { max-width: 100%;
	height: auto; }
#CusatUni {float:right;top:0; z-index:1; font-size:14px; background-color:#F33; color:#FFF;}

.block-content {margin-bottom:80px;margin-top:80px;transition: all 0.3s ease 0s;}
H1 {text-align: center;font-weight: normal;}
H1.main {color:#7f2b5f;text-transform: uppercase;font-family: 'zag_regularregular';font-size: 55px;margin-bottom:-10px;}
H1.header {color:#FFF;text-transform: uppercase;font-family: 'zag_regularregular';font-size: 30px;}
H1.discret1 {font-family:zag_boldregular;font-size:15px;font-weight: normal;color:#adadad;text-transform: uppercase;border-bottom: 1px solid #adadad;padding:10px 0px 5px 10px;margin-bottom:27px;}
H2.type1 {color:#27b0b1;font-size:29px;font-weight: normal;}
H2 {color:#27b0b1; font-size:29px;font-weight:normal; display:block; margin-bottom:20px; font-family:zag_boldregular;text-transform: uppercase;}
H3.article {height:auto;font-size:16px;font-family:ProximaNova-Extrabld;color:#000;font-weight: normal;margin-bottom:12px;}
*::selection {background:#5eb5b5;color:#FFFFFF;}
*::-moz-selection {background:#5eb5b5;color:#FFFFFF;}
img.right-float {float:right;vertical-align: middle;margin-left:39px;}
.margin-bottom1 {margin-bottom:50px;}
.ss-title2, p.ss-title2{margin-bottom:35px;color:#414450;font-size:16px;text-transform:none;font-weight:bold;}
.bouton-rounded {font-family:ProximaNova-Semibold;font-size:14px;letter-spacing:1px; white-space:nowrap; text-transform:uppercase; text-decoration:none; border-radius:5px; background-color:#25b0b0;padding:5px 15px 5px 15px;display:inline-block;color:#FFF;}
.bouton-bleu2 {background-color:#25b0b0;}
.bouton-rose2 {background-color:#da0057;}
strong {font-family:ProximaNova-Bold;font-weight:normal;}
strong.medium {font-family:ProximaNova-Semibold;}
 a { transition: all 0.1s ease 0s;cursor:pointer;}
 
 
 #main-content {
	background-image: url("images/part-bg.png");
	background-repeat: repeat-y;
	background-attachment:fixed;
	background-position: top;
	padding-top:150px;
}
 
 
 
 /* navigation content */
#master-menu a {text-decoration:none;}
#master-menu {position:fixed;z-index:5;width:100%;}
#master-menu #menu-nav {height:60px;background-color:#6ec1c2;position:relative;white-space:nowrap;}
#master-menu #menu-nav #content-nav-left {position:absolute;right:50%;top:0px;transition: all 0.4s ease 0s;}
#master-menu #menu-nav #content-nav-left li:LAST-CHILD {margin-right:9px;}
#master-menu #menu-nav #content-nav-right li:FIRST-CHILD {margin-left:9px;}
#master-menu #menu-nav #content-nav-right {position:absolute;left:50%;bottom:0px;transition: all 0.4s ease 0s;}
#master-menu #menu-nav nav li  {background:url("../images/common/menu_bg_selected.gif") repeat-x; background-position:0 -6px; display:inline-block;text-decoration:none;line-height:60px;height:60px;margin-right:15px;transition: all 0.2s ease 0s;}
#master-menu #menu-nav nav li a { font-family: 'ProximaNova-Bold';color:#FFFFFF;font-size:13px;letter-spacing:0.5px; text-transform: uppercase;}
#master-menu #menu-nav nav li:LAST-CHILD {margin-right:0px;}
#master-menu #menu-nav nav li:hover,#master-menu #menu-nav  li.current-menu-item {background-position:0px 0px;}
#master-menu #menu-nav #logo-img {display:block;position:absolute;left:50%;margin-left:-50px;block;margin-top:5px;transition: all 0.6s ease 0s;z-index:20}
#master-menu #menu-nav nav li:hover { opacity:0.7;  }
	
/* nav  utilisateur */
#master-menu #user-nav {overflow:hidden; height:97px;padding-left:50%;background:url("../images/common/central_cercle.png") no-repeat top center;transition: all 0.4s ease 0.1s;}
#master-menu #user-nav nav {height:39px;width:381px;padding-right:10px; left:50%;margin-left:78px;background-color:#FFF;text-align: right; padding-top:5px;}
#master-menu #user-nav a {display:inline-block;font-size:13px;text-transform: uppercase;margin-top:8px;vertical-align:middle;}
#master-menu #user-nav #espace-perso-link {color:#757c91;font-family: 'ProximaNova-Bold';}
#master-menu #user-nav #espace-perso-inscription {color:#25b0b0;margin-left:17px;font-family:ProximaNova-Extrabld;}
#master-menu #user-nav .langue-item {font-family:ProximaNova-Extrabld; }
#master-menu #user-nav a.langue-item {font-family:ProximaNova-Extrabld; color:#757c91;}
#master-menu #user-nav a.langue-item.selected {font-family:ProximaNova-Extrabld;color:#CCC; }


#master-menu #user-nav #fr {margin-left:45px;margin-right:2px;}
#master-menu #user-nav #search-link { width:20px;height:18px;margin-left:23px;background: url("../images/common/enveloppe.png") no-repeat;}
 
 
 .hoz-listing {text-decoration:none; height:5px; margin:0 auto 20px auto; width:100%; text-align:center   }
.hoz-listing ul {height: auto;  padding: 1px 0px; margin: 0px; }
	
.hoz-listing a{text-decoration:none; color:#F90;}
.hoz-listing li { display: inline-block; margin-right:20px; padding-right:20px; border-right:thin #333 solid; }
.hoz-listing li:LAST-CHILD { display: inline; padding: 2px; border-right:thin #DDDADA;; }

 
 
 
 /* ################# LANDING PAGE ###################### */

#landing-intro {position:fixed; left:0;top:0;right:0;bottom:0;z-index:1;margin-top:-60px;}
#landing-intro-relative-content { position:relative;height:100%;}
.box-eve{
	width:29.25608342989571%;
	margin:0 10px;
	padding:5px;
	display:inline-block;
}

/*#landing-intro {height:100%;height:713px;position: static;}*/
#l-left,#l-right {width:20%;display:inline-block;vertical-align: middle;width:50%;}
#l-left {height:100%; background:url("../images/common/logo_accueil.png") no-repeat center right;}
#l-left.fr {height:100%; background:url("images/Sargam_logo.png") no-repeat center right;}
#l-left.en {height:100%; background:url("../images/common/logo_accueil_en.png") no-repeat center right;} 
#l-right {text-align: left;}
#l-right #l-right-content {display:inline-block; width:450px;padding-left:25px; padding-right:28px;}
#l-right-content H1 {text-align: right;padding:100px 0 10px 0;font-family:zag_regularregular;font-weight:normal;color:#f69524;font-size:75px;text-transform: uppercase;line-height:0.95;border-bottom: 1px solid #757c91;text-shadow: 1px 1px #000;}
#l-right-content H1 .edition {color:#7f2b5f;font-size:33px;font-family:zag_boldregular;padding-right:10px;}
#l-right-content H1 .edition  sup {padding:0px;margin:0px;text-transform:none;font-size:18px;}
#l-right-content #infos {text-transform:uppercase;width:100%;text-align: center;padding:15px 0 0 0}
#l-right-content #infos  #infos-texte {letter-spacing: 6px; font-size:13px;font-family:ProximaNova-Bold; }

/* Boutons navigations */
#landing-nav {padding-top:28px; padding-left:150px;}
.bouton-bleu,.bouton-rose {border-radius:5px;font-family:zag_regularregular;width:204px;height:50px;display:inline-block;color:#FFFFFF;line-height:50px;text-align: center;text-transform: uppercase;font-size:28px;cursor:pointer;text-decoration: none;}
.bouton-bleu {background-color:#25b0b0;}
.bouton-rose {background-color:#e41a6a;float:right;}

/* Soutient */
#l-right-content H3{ font-weight:normal; padding:30px 0 15px;font-size:13px;font-family:ProximaNova-Bold;text-transform: uppercase;}
#l-right-content #soutient-container {text-align: justify; padding-top:25px;}
#l-right-content #soutient-container div{display:inline-block;}


 
 
 
 /**BASICS**/
 
 /* buillet multi colonne */
.multi-col {display:inline-block;vertical-align:top;margin-right:20px;}
.buillet-type1 lh {color:#27b0b1; font-size:29px;display:block; margin-bottom:17px; font-family:zag_regularregular;text-transform: uppercase;}
.buillet-type1 lh.ss-title,.white-box1 p.ss-title,.ss-title{font-family:Arial, Helvetica, sans-serif; margin-bottom:0px;color:#414450;font-size:16px;text-transform:none;font-weight:bold;}
.buillet-type1 li {color:#414450;margin-top:6px;margin-bottom:6px;padding-left:15px;font-size:14px;background:url("images/bullet1.png") no-repeat left 5px;}

.buillet-type1 ol { margin-left:20px;  }
.buillet-type1 ol li { display:inline-block; margin-right:20px;  }


#Eventrules { margin-left:15px;}
#Eventrules lh { background:url("images/bullet1.png") no-repeat left 5px; padding-left:10px; }




/* buillet type 2 */
.buillet-type2 {display:inline-block;}
.buillet-type2 li {margin-top:5px;margin-bottom:8px;font-size:14px;}
.buillet-type2 li a {color:#25b0b0;text-decoration:underline;font-weight:bold;}
.dual-col .buillet-type2 {display:inline-block;width:154px;padding-right:34px;vertical-align: top;}
.dual-col .buillet-type2:LAST-CHILD {padding-right:0px;}
 
/* Main Contents */
#landing-convention {padding-top:50px;position:absolute;z-index:2;width:100%;top:100%;margin-top:-35px; /* 35px hauteur footer actu */
	/*background:url("../images/common/particules2.png") no-repeat top fixed;*/
	/*background:url("../images/common/main_bg.jpg") repeat;*/
	background-image: url("images/partbg.png"),url("images/main_bg.jpg");
	background-repeat: repeat-y,repeat;
	background-attachment:fixed,fixed;
	background-position: top center,top center;
	/*transition: all 0.5s ease 0s;*/
	/*background-repeat: no-repeat;*/
}
.white-box1 {width:876px;padding:32px; background:rgba(255,255,255,0.9); margin-left:auto; margin-right:auto;position:relative;}
.white-box1 p.accueil {font-size:18px;color:#757c91;font-family:ProximaNova-Bold}
.white-box1 p.P1 {margin-bottom:15px;}
#intro-texte .first-part {height:240px;}
#intro-texte .second-part .item1 {width:411px;margin-left:20px;margin-right:80px;border-right:1px solid #d2d2d2;}
#intro-texte .third-part {position:absolute;bottom:-15px;width:100%;text-align:center;left:0px;}


/*Events Overview  */
.stats2 {margin-left:-32px; height:186px;white-space:nowrap;font-size:0px; margin-bottom:30px; /*text-shadow: 2px 2px #ff0000;*/ text-shadow: 1px 1px #000;  transition: all 0.4 ease 0.1;}
.stats2 li {width:187px;height:187px;display:inline-block;margin-right:1px;vertical-align:top;position:relative;}
.stats2 p.chiffre-clef {font-size:50px;color:#FFFFFF;text-align:center;margin-top:65px;font-family:"ProximaNova-Light"; letter-spacing:-1px;}
.stats2 p.legende {text-align:center;font-size:14px;color:#FFF;font-family:"ProximaNova-Bold";padding-top:25px;}
.stats2 li .defaut {width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:2;}
.stats2 li .hover {position:absolute;width:100%;height:187px;line-height:187px;;top:0px;left:0px;z-index:3;font-size:14px;text-align:center;color:#FFF;transition: all 0.4s ease 0.2s;white-space: normal;}
.stats2 li .hover p {display:inline-block;line-height: 1.2;vertical-align: middle;padding:0 45px 0 45px;font-size:50px;font-family:ProximaNova-Regular}
.stats2 li a { text-decoration:none; color:#FFF}
.stats2 li a:hover { text-decoration:none; color:#FFF; box-shadow: 1px 1px 12px #555; transition: all 0.2s ease 0s; }


.blue-box {background-color:#24a2a0;}
.pink-box {background-color:#da0057;}
.purple-box {background-color:#6a1b4c;}
.orange-box {background-color:#f1831d;}
.green-box {background-color:#b7ca1b;}

.content-box {width:940px;margin-left:auto;margin-right:auto;position:relative;}
/* ############# FOOTER #################### */
footer { background-color:#6ec1c2;height:205px;padding-bottom:35px;}
footer .content-box { background: url("images/Sargam_logofooter.png") no-repeat right bottom 0px; height:160px;padding-top:30px; }
footer #footer-nav-user {width:192px;float:left; padding-top:33px;}
footer #footer-nav-user a {color:#25b0b0; display:block; width:192px;height:33px;line-height:35px;background-color:#FFFFFF;border-radius:5px;margin-bottom:10px;text-align: center; font-family:ProximaNova-Semibold;font-size:14px;text-decoration:none;text-transform:uppercase;letter-spacing:1px;}
footer #footer-nav-user a#footer-inscrivez-vous {font-family:ProximaNova-Bold;margin-bottom:31px;}
footer #footer-action-user {float:left;margin-left:44px;}
footer #footer-action-user #reseau {margin-top:40px;text-align: center;}
footer #footer-action-user #reseau a {display:inline-block;margin-right:10px;}

#footer-action-user h2 {color:#FFF; border-bottom:#FFF thin solid}
#footer-action-user a { color:#fff; text-decoration:none	}
#footer-action-user li { background:url("images/bullet1.png") no-repeat left 5px; padding-left:10px;}
/* Formulaires */
footer .footer-form {display:inline-block;margin-right:34px;}
footer .footer-form label {display:block;color:#FFF;font-size:14px;text-transform: uppercase;font-family:ProximaNova-Semibold;margin-bottom:13px;}
footer .footer-form .field {vertical-align:top; padding:0px;width:174px; padding-left:10px; font-size:14px; height:35px; background-color:transparent;border:1px solid #FFF;color:#ffffff;font-family:ProximaNova-Semibold;border-bottom-left-radius:5px;border-top-left-radius:5px; }
footer .footer-form .submit {vertical-align:top;background-color: transparent; border: 1px solid #FFF;height:37px;width:40px;border-bottom-right-radius:5px;border-top-right-radius:5px;border-left: none;color:#FFF;font-family:ProximaNova-Semibold;font-size:14px;text-transform: uppercase;}


/* ################# Live Bar ###################### */
#livebar {width:100%;position:absolute;top:100%;z-index:5;background-color: #FFF;}
#livebar #actu-header {background-color:#f1831d;height:60px;line-height:60px;position:relative;}
.exentred-bouton1 {font-family:ProximaNova-Regular;display:block;background-color:red;background:url("../images/common/fleche_bottom1.png") no-repeat right; font-size:16px;position:absolute; right:0px;color:#FFF;padding-right:40px;}

/* Display none pour masquer PUB / client en attente Sponsors */
#livebar #actu-part1 {height:161px;background-color:#FFF;line-height:161px;font-size:0px; display:none;}

#livebar #actu-part1 a {display:inline-block;margin-right:0px;vertical-align: middle;line-height: 1.2;margin-right:20px;}
#livebar #actu-part1 a:LAST-CHILD {margin-right:0px;}
#actu-twitter-feed {height:130px;background-color:#25a2a1;}


/* ################ ACTU FOOTER PERMANENT #######################*/
#livebar-footer {height:35px;line-height:35px; position:fixed;bottom: 0px;width:100%;background-color:#f1831d;z-index:5;font-size:0px;}
.af-box {display:inline-block;width:310px;height:35px;font-size:14px;color:#FFF;font-family:ProximaNova-Regular;vertical-align: top;background:url("../images/common/picto_triangle_blanc.png") no-repeat left bottom;overflow:hidden;}
.af-box .date{float:left;padding-left:23px;padding-top:1px;}
.af-box H3 {cursor:pointer; font-weight: normal;font-family:ProximaNova-Bold;text-align: left;width:185px;float:left;overflow:hidden;padding-left:15px;}
.af-box H3:hover {opacity:0.7;}
.top_fleche {background:url("../images/common/fleche_top1.png") no-repeat left center;padding-left:0px;padding-right:0px;margin:0px;padding-left:35px;margin-right:-52px;}

#SelectEventList{
	display:none;
	-moz-column-count: 2;
-moz-column-gap: 30px;
-moz-column-rule: none;
-webkit-column-count: 2;
-webkit-column-gap: 30px;
-webkit-column-rule: none;
column-count: 2;
column-gap: 30px;
column-rule: none;
}
